.home-container {
    padding: 10px;
    h2 {
        margin-top: 0;
        margin-bottom: 4px;
        padding-left: 10px;
    }
    .filter-wrapper {
        margin: 10px;
        padding: 16px;

        .toggle-wrapper {
            .filter-heading {
                font-size: 18px;
                text-align: center;
                margin-bottom: 0;
                font-weight: 500;
            }
            hr {
                border: 1px solid #c5bcbf;
                margin-top: 2px;
            }
            .MuiToggleButtonGroup-root {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                button {
                    width: 40%;
                    min-width: 60px;
                    border-radius: 5px !important;
                    padding: 6px;
                    margin-bottom: 10px;
                    background-color: #c5e09b;
                    color: #000;
                    border: none;
                    font-size: 12px;
                }
                .MuiToggleButton-root.Mui-selected {
                    background-color: #7cba00;
                }
            }
        }
    }
    .grid-wrapper {
        padding: 10px;
        display: flex;
        align-items: stretch;
        // min-height: 474px;
        .grid-sub-wrapper {
            padding: 10px;
            img {
                max-width: 100%;
                display: flex;
                margin: 0 auto 10px;
                background-color: #f2f2f2;
            }
        }
        ul {
            margin: 0;
        }
        .card-info {
            //    min-height: 230px;
        }
    }

    .font-heading {
        font-weight: 700;
        font-size: 18px;
    }
    .value-text {
        font-weight: 400;
        color: #494d97;
    }
    h6 {
        margin: 4px 0;
    }
    .center-txt {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        width: 100%;
    }
    @media screen and (min-width: 700px) and (max-width: 1024px) {
        .filter-wrapper {
            .toggle-wrapper {
            .MuiToggleButtonGroup-root {
                
                    button {
                        font-size: 14px;
                        min-width: 50px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        .filter-wrapper {
            .toggle-wrapper {
                .MuiToggleButtonGroup-root {
                button {
                    font-size: 16px;
                    min-width: 76px;
                }
            }
            }
        }
    }
}
